<h1>{{title}}</h1>
<p>Welcome to the Teetimes page. This is where you can create your request for a teetime, including what you need for it.</p>

<a href="/teetimes/create">Add a New Teetime.</a>

<ul>
    {{#each teetime}}
        <li>{{this.golferName}}</li>
        <li>{{this.holes}}</li>
        <li>{{this.cartRequired}}</li>
        <li>{{this.date}}</li>
        <li>{{this.greenFee}}</li>
        <a href="/teetimes/edit/{{this._id}}" class="btn btn-info text-light">Edit</a>
    {{/each}}
</ul>